//import mixins-vars
@import "./mixins-vars";

.films {
  &__item {
    position: relative;
    z-index: 1;
    &:hover {
      &:after {
        opacity: 1;
        transition: opacity 0.2s linear;
      }
    }
    &:after {
      position: absolute;
      content: '';
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 40px);
      height: calc(100% + 40px);
      background-color: #fff;
      box-shadow: 0 0 10px $fir-red;
      z-index: -1;
      opacity: 0;
      border-radius: 0.278rem;
    }
  }

}
